<section class="article-section pt-xl-16 pt-12 mb-lg-20 mb-sm-10 mb-2">
  <div class="container">
    <div class="text-center mb-lg-16 mb-10">
      <div class="text-primary text-md fw-bold mb-4">20. leden 2026</div>
      <h1 class="h1 mb-8">
        Součástí našeho nového projektu HIGH PERFORMANCE PROGRAM je celosezónní
        evropská soutěž.
      </h1>
      <img
        class="object-fit-cover"
        width="100%"
        src="images/content/article.png"
        loading="lazy"
        alt="article"
      />
    </div>
    <div class="container-xs">
      <div class="o-content">
        <h4>Úvod</h4>
        <p>
          Součástí našeho nového projektu HIGH PERFORMANCE PROGRAM je
          celosezónní evropská soutěž: PREMIERE SELECT LEAGUE! V letošní sezóně
          proběhl její druhý ročník a nabídl velmi kvalitní a dlouhodobou soutěž
          vybraných evropských selectů. Hrálo se celkem ve čtyřech kategoriích:
          2012, 2013, 2014, 2015. Jejím hlavním cílem bylo konfrontovat výběrové
          hráče v průběhu sezóny a dopřát jim kvalitní a těžká utkání, která je
          ještě více rozvíjí a tvarují. Každý výběr sehrál v rámci jedné sezóny
          osm turnajů a nejlepší čtyři týmy ještě jeden závěrečný o celkového
          vítěze. To je celkem 27 kvalitních utkání!
        </p>
        <img src="images/content/article-2.png" loading="lazy" alt="photo" />
        <p>
          Náš projekt se účastnil soutěže poprvé a hned ve všech čtyřech
          kategoriích. Absolvovali jsme tedy devět turnajů v různých státech,
          městech a na různých zimních stadionech. Již v této naší první sezóně
          se nám velmi dařilo! 🙂
        </p>
        <blockquote>
          <p>
            “Náš projekt se účastnil soutěže poprvé a hned ve všech čtyřech
            kategoriích. Absolvovali jsme tedy devět turnajů v různých státech,
            městech a na různých zimních stadionech. Již v této naší první
            sezóně se nám velmi dařilo!”
          </p>
          <span> — Tomáš Pečínka, Trenér brankářů </span>
        </blockquote>
        <p>
          Celou sezónu jsme se ve všech kategoriích drželi mezi nejlepšími týmy
          a zaslouženě postoupili do FINAL FOUR! Radost jsme měli jak z
          výsledků, tak především z předvedené hry. Naši hráči dobře chápali, co
          po nich chceme. Hra se neustále zlepšovala a myslím si, že jsme během
          několika měsíců ušli velký kus cesty. Dávali jsme tým dohromady i po
          charakterové stránce a vyžadovali týmovost, zodpovědnost a mentální
          sílu.
        </p>
        <h5>Turnaj se povedl</h5>
        <p>
          V závěrečném turnaji FINAL FOUR již šlo o hodně. Chtěli jsme se
          prezentovat naší nejlepší hrou, plnou pohybu, rychlosti, nasazení.
          Chtěli jsme hodně kombinovat a zároveň být efektivní ve finální fázi.
          Musím říct, že všechny tyto atributy se nám podařily do jednotlivých
          utkání dostat a odměnou nám byly krásné výsledky a umístění na
          medailových pozicích:
        </p>
        <h5>Slovo závěrem</h5>
        <p>
          Sagittis et eu at elementum, quis in. Proin praesent volutpat egestas
          sociis sit lorem nunc nunc sit. Eget diam curabitur mi ac. Auctor
          rutrum lacus malesuada massa ornare et. Vulputate consectetur ac
          ultrices at diam dui eget fringilla tincidunt. Arcu sit dignissim
          massa erat cursus vulputate gravida id. Sed quis auctor vulputate hac
          elementum gravida cursus dis.
        </p>
        <ol>
          <li>SHS Select “2012” – 2. místo</li>
          <li>SHS Select “2013” – 2. místo</li>
          <li>SHS Select “2014” – 2. místo</li>
          <li>SHS Select “2015” – 1. místo</li>
        </ol>
        <q>
          <h5>Slovo trenéra</h5>
          <p>
            Na závěr bych chtěl poděkovat všem hráčům za skvělé výkony, nasazení
            a celkový přístup. Chtěl bych poděkovat také rodičům za podporu a
            organizátorům za výbornou organizaci a parádní zápasy. Už teď se
            těšíme na příští ročník!
          </p>
        </q>
      </div>
    </div>
  </div>
</section>
