<section class="map-section">
  <div class="container">
    <h2 class="h3 text-center mb-6">Kde působíme</h2>
    <ul
      class="d-flex align-items-center flex-wrap gap-2 justify-content-center mb-6"
    >
      <li>
        <div class="badge-lg badge-light">Havlíčkův Brod</div>
      </li>
      <li>
        <div class="badge-lg badge-light">Hodonín</div>
      </li>
      <li>
        <div class="badge-lg badge-light">Chotěboř</div>
      </li>
      <li>
        <div class="badge-lg badge-light">Moutnice</div>
      </li>
      <li>
        <div class="badge-lg badge-light">Světlá nad Sázavou</div>
      </li>
      <li>
        <div class="badge-lg badge-light">Velké Meziříčí</div>
      </li>
    </ul>
    <div class="map-section__img">
      <img src="images/content/map.png" loading="lazy" alt="map" />
    </div>
  </div>
</section>
