<section class="pt-xl-16 pt-12 mb-xxl-30 mb-lg-20 mb-15">
  <div class="container">
    <h1 class="h1 text-center mb-lg-8 mb-6">O nás</h1>
    <div class="row g-8 mb-lg-16 mb-10 align-items-center">
      <div class="col-lg-5">
        <img
          width="100%"
          height="auto"
          class="object-fit-cover"
          src="images/content/article-2.png"
          loading="lazy"
          alt="photo"
        />
      </div>
      <div class="col-lg-7">
        <h2 class="h3 mb-4">SHS HOCKEY</h2>
        <p class="text-xl">
          Projekt, který dává možnost hráčům pracovat nad rámec klubové
          aktivity. Zaměřujeme se na komplexní rozvoj hráčů ledního hokeje s
          důrazem na jednotlivé schopnosti, dovednosti a jejich správné
          provedení. Cílem je rozvoj hokejových dovedností a jejich transfer do
          samotné hry. Chceme hráče neustále posouvat na lepší úroveň a pomoct
          jim v jejich hokejovém růstu. Pro hráče pořádáme jednotlivé tréninky,
          campy, soustředění, utkání, turnaje, ale i další zajímavé akce.
        </p>
      </div>
    </div>
    <div class="row g-8 mb-lg-16 mb-10 align-items-center flex-wrap-reverse">
      <div class="col-lg-8">
        <h2 class="h3 mb-4">SHS SELECT</h2>
        <p class="text-xl mb-4">
          Součástí projektu jsou také výběry hráčů jednotlivých ročníků. Jejich
          cílem je pracovat s hráči na podobné výkonnostní úrovni a vytvořit tak
          pro ně konkurenční prostředí, které je efektivně posouvá. Velký důraz
          klademe na správné chování hráčů na ledě i mimo něj a jejich kladný
          přístup k hokeji a sportu celkově. Chceme vést hráče správným směrem a
          ukázat cestu, která jim může pomoci k dosažení jejich snů a cílů.
        </p>
        <p class="text-sm">
          Hráči, kteří jsou v jednotlivých výběrových týmech SHS Select společně
          trénují, hrají utkání a účastní se zajímavých turnajů v České
          republice i v zahraničí. Vyznačují se výbornými dovednostmi, týmovým
          pojetím, touhou vyhrávat a dobrým chováním. Velmi dobře si
          uvědomujeme, že ne všichni si splní svůj sen stát se profesionálním
          hokejistou, ale chceme hráče správně nasměrovat a dát jim možnost
          porovnávat se s těmi nejlepšími. Naše výběry jednotlivých ročníků
          dosahují výborných výsledků a vždy bude naším cílem v tomto trendu
          pokračovat. Chceme vychovávat další kvalitní a rozdílové hráče, kteří
          se prosadí ve vrcholovém hokeji.
        </p>
      </div>
      <div class="col-lg-4">
        <img
          width="383"
          height="281"
          class="object-fit-contain mx-lg-0 mx-auto"
          src="images/content/logo-1.png"
          loading="lazy"
          alt="photo"
        />
      </div>
    </div>
    <div class="row g-8 mb-lg-16 mb-10 align-items-center">
      <div class="col-lg-3">
        <img
          width="280"
          height="270"
          class="object-fit-contain mx-lg-0 mx-auto"
          src="images/content/logo-4.png"
          loading="lazy"
          alt="photo"
        />
      </div>
      <div class="col-lg-9">
        <h2 class="h3 mb-4">HIGH PERFORMANCE PROGRAM</h2>
        <p class="text-xl mb-4">
          V září roku 2024 jsme zahájili speciální program pro vybrané hráče ve
          věku: 8 – 12 let. Jedná se o program, který respektuje klubové
          povinnosti hráčů, ale zároveň nabízí ucelenou mimoklubovou aktivitu
          tak, aby byla co nejvíce efektivní a obsahovala vše, co je pro rozvoj
          hráčů v dnešní době tolik potřebné.
        </p>
        <p class="text-sm mb-4">
          Hlavním cílem tohoto programu není vyloženě tlak na aktuální výkon a
          povinnost porážet každého soupeře, byť samozřejmě dobré výsledky
          chceme. Je to ale především co nejefektivnější rozvoj každého hráče,
          každého jednotlivce! Chceme každého z nich posunout, zlepšit, ukázat
          cestu..!! Naším cílem je mít na naše hráče daleko větší a pozitivní
          vliv.
        </p>
        <div class="text-sm">
          Do programu je zařazeno zhruba 17 – 20 hráčů v každém ročníku. Skupina
          však není uzavřená a je možnost do programu zvát další perspektivní
          hráče. Naopak nikdo nemá své místo jisté a je na každém, jestli si své
          místo udrží. Rozhoduje výkonnost, zájem spolupracovat, ale i
          charakter, správné chování a velká dávka pracovitosti. Cílem není
          “honit se” za počty utkání, ale být v programu, který nabízí
          konkurenční prostředí, výborné podmínky pro rozvoj (dovednostní a
          týmové tréninky, utkání) a nabízí skupinu, kde se všichni respektují a
          tvoří výbornou partu.
        </div>
      </div>
    </div>

    <div class="row g-lg-8 g-6 mt-xl-30 mt-lg-16 mt-10">
      <div class="col-lg-4 col-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            src="https://picsum.photos/384/264"
            loading="lazy"
            alt="gallery"
          />
        </a>
      </div>
      <div class="col-lg-4 col-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            src="https://picsum.photos/384/264"
            loading="lazy"
            alt="gallery"
          />
        </a>
      </div>
      <div class="col-lg-4 col-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            src="https://picsum.photos/384/264"
            loading="lazy"
            alt="gallery"
          />
        </a>
      </div>
      <div class="col-lg-4 col-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            src="https://picsum.photos/384/264"
            loading="lazy"
            alt="gallery"
          />
        </a>
      </div>
      <div class="col-lg-4 col-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            src="https://picsum.photos/384/264"
            loading="lazy"
            alt="gallery"
          />
        </a>
      </div>
      <div class="col-lg-4 col-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
        >
          <img
            src="https://picsum.photos/384/264"
            loading="lazy"
            alt="gallery"
          />
        </a>
      </div>
    </div>
  </div>
</section>
