<a class="videoFrame" href="#">
  <img
    class="object-fit-cover object-position-top"
    src="images/content/videoFrame.jpg"
    height="100%"
    width="100%"
    loading="lazy"
    alt="video"
  />
  <div class="button-primary">
    <img src="images/ico/play.svg" loading="lazy" alt="play" /> Přehrát video
  </div>
</a>
