[class^="button-"] {
  text-align: center;
  transition: all 0.3s;
  background: transparent;
  height: 38px;
  padding: 4px 14px;
  text-decoration-color: transparent;
  outline: none;
  min-width: 116px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
}

.button-primary {
}
.button-secondary {
  box-shadow: 0 0 0 2px transparent, 0 0 0 4px transparent,
    0 1px 2px 0 #0a0d120d, inset 0 -2px 0 0 transparent,
    inset 0 0 0 1px #0a0d122e;
  border: 1px solid var(--color-gray-300);
  color: var(--color-gray-700);
  &:hover {
    // border: 1px solid var(--color-primary);
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color-primary),
      0 1px 2px 0 #0a0d120d, inset 0 -2px 0 0 #0a0d120d,
      inset 0 0 0 1px #0a0d122e;
  }
}
