[class^="button-"] {
  text-align: center;
  transition: all 0.3s;
  background: transparent;
  height: 38px;
  padding: 4px 14px;
  text-decoration-color: transparent;
  outline: none;
  min-width: 116px;
  width: fit-content;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
}

.button-primary {
  border: none;
  background: var(--color-primary);
  color: var(--color-white);
  box-shadow: 0px 1px 2px 0px #0a0d120d, 0px 0px 0px 1px #0a0d122e inset;

  &:hover {
    background: var(--color-brand-700);
  }
}
.button-secondary {
  box-shadow: 0 0 0 2px transparent, 0 0 0 4px transparent,
    0 1px 2px 0 #0a0d120d, inset 0 -2px 0 0 transparent,
    inset 0 0 0 1px #0a0d122e;
  border: 1px solid var(--color-gray-300);
  color: var(--color-gray-700);
  &:hover {
    box-shadow: 0 0 0 2px #fff, 0 0 0 4px var(--color-primary),
      0 1px 2px 0 #0a0d120d, inset 0 -2px 0 0 #0a0d120d,
      inset 0 0 0 1px #0a0d122e;
  }
}

.button-md {
  padding: 10px 16px;
}

.button-sm {
  padding: 8px 14px;
}

.button-lg {
  padding: 10px 16px;
  height: 42px;
  font-size: 16px;
  line-height: 24px;
}
