.eshop-menu {
  display: flex;
  align-items: center;
  gap: 16px;
  @include media-breakpoint-down(lg) {
    width: 100%;
    order: 2;
    justify-content: center;
  }
  @include media-breakpoint-down(sm) {
    gap: 12px;
  }
  &__link {
    text-decoration: none;
    color: var(--color-gray-500);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    transition: color 0.25s;
    &:hover {
      color: var(--color-black);
    }
  }

  &__link.active {
    color: var(--color-brand-700);
    padding-bottom: 12px;
    border-bottom: 2px solid var(--color-primary);
  }
}
