.productCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8px;
  height: 100%;

  &-img {
    background: var(--color-white);
    padding: 16px;
    width: 100%;
    aspect-ratio: 280/216;
    margin-bottom: 16px;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-list {
    font-size: 12px;
    line-height: 18px;
    margin-top: 8px;
    list-style: disc;
    padding-left: 20px;
  }
  .select2 {
    width: auto !important;
  }
}
