blockquote {
  padding-left: 20px;
  border-left: 2px solid var(--color-brand-700);
  p {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: var(--color-gray-900);
    @include media-breakpoint-down(lg) {
      font-size: 22px;
      line-height: 28px;
    }
  }
  span {
    display: block;
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    @include media-breakpoint-down(lg) {
      font-size: 14px;
      line-height: 20px;
    }
  }
}
