<section class="contacts-section pt-xl-16 pt-12">
  <div class="container">
    <h1 class="h1 text-center mb-lg-8 mb-6">Kontakt</h1>
    <div class="row g-lg-8 g-6 mb-xxl-30 mb-lg-20 mb-15">
      <div class="col-lg-4 col-sm-6">
        <div class="coachItem">
          <div class="coachItem__img">
            <img
              src="images/content/contact-1.png"
              loading="lazy"
              alt="contact"
            />
          </div>
          <div class="badge-lg bg-primary mb-4">Manažer a hlavní trenér</div>
          <div class="h5 mb-4">Mgr. Luboš Voříšek</div>
          <div class="d-flex flex-column gap-2">
            <a
              href="tel:+420606332012"
              class="d-flex align-items-center gap-2 text-primary hover-outline text-sm fw-bold"
            >
              <img
                class="object-fit-contain"
                src="images/ico/tel.svg"
                width="24"
                height="24"
                alt="tel"
              />

              +420 606 332 012
            </a>
            <a
              href="mailto:vorisek19@gmail.com"
              class="d-flex align-items-center gap-2 text-primary hover-outline text-sm fw-bold"
            >
              <img
                class="object-fit-contain"
                src="images/ico/mail.svg"
                width="24"
                height="24"
                alt="tel"
              />

              vorisek19@gmail.com
            </a>
            <div class="text-sm"><strong>IČO: </strong>76588220</div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="coachItem">
          <div class="coachItem__img">
            <img
              src="images/content/contact-2.png"
              loading="lazy"
              alt="contact"
            />
          </div>
          <div class="badge-lg bg-primary mb-4">Spolupracovník</div>
          <div class="h5 mb-4">Jiří Benák</div>
          <div class="d-flex flex-column gap-2">
            <a
              href="tel:+420606332012"
              class="d-flex align-items-center gap-2 text-primary hover-outline text-sm fw-bold"
            >
              <img
                class="object-fit-contain"
                src="images/ico/tel.svg"
                width="24"
                height="24"
                alt="tel"
              />

              +420 606 332 012
            </a>
            <a
              href="mailto:vorisek19@gmail.com"
              class="d-flex align-items-center gap-2 text-primary hover-outline text-sm fw-bold"
            >
              <img
                class="object-fit-contain"
                src="images/ico/mail.svg"
                width="24"
                height="24"
                alt="tel"
              />

              vorisek19@gmail.com
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="coachItem">
          <div class="coachItem__img">
            <img
              src="images/content/contact-3.png"
              loading="lazy"
              alt="contact"
            />
          </div>
          <div class="badge-lg bg-primary mb-4">Spolupracovník</div>
          <div class="h5 mb-4">Mgr. Jan Krajíček</div>
          <div class="d-flex flex-column gap-2">
            <a
              href="tel:+420606332012"
              class="d-flex align-items-center gap-2 text-primary hover-outline text-sm fw-bold"
            >
              <img
                class="object-fit-contain"
                src="images/ico/tel.svg"
                width="24"
                height="24"
                alt="tel"
              />

              +420 606 332 012
            </a>
            <a
              href="mailto:vorisek19@gmail.com"
              class="d-flex align-items-center gap-2 text-primary hover-outline text-sm fw-bold"
            >
              <img
                class="object-fit-contain"
                src="images/ico/mail.svg"
                width="24"
                height="24"
                alt="tel"
              />

              vorisek19@gmail.com
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
