<div
  class="modal fade"
  id="modalProgram"
  tabindex="-1"
  aria-labelledby="programModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered programModal">
    <div class="modal-content">
      <div class="modal-header p-6">
        <button type="button" class="btn-close" data-bs-dismiss="modal">
          {% include "@images/x-close.svg" %}
        </button>
      </div>

      <div class="modal-body px-8">
        <div class="programDetail">
          <div class="programDetail__img">
            <img
              src="images/content/modal-program.jpg"
              loading="lazy"
              alt="program"
            />
          </div>
          <h2 class="h3 mb-6">SHS HOCKEY SKILLS CAMP / 11.7. – 12.7.2026</h2>
          <div class="row align-items-center border-bottom-1 pb-6 mb-6">
            <div class="col-12 col-md-8 mb-4">
              <ul class="programDetail__info">
                <li>
                  <div class="programDetail__info-item">
                    <img
                      src="images/ico/calendar.svg"
                      loading="lazy"
                      alt="termin"
                    />
                    Termín:
                  </div>
                  <p>11.07. - 12.07.2026</p>
                </li>
                <li>
                  <div class="programDetail__info-item">
                    <img
                      src="images/ico/place.svg"
                      loading="lazy"
                      alt="termin"
                    />
                    Místo:
                  </div>
                  <p>ZS Moutnice</p>
                </li>
                <li>
                  <div class="programDetail__info-item">
                    <img
                      src="images/ico/price.svg"
                      loading="lazy"
                      alt="termin"
                    />
                    Cena:
                  </div>
                  <p>3 300 Kč</p>
                </li>
                <li>
                  <div class="programDetail__info-item">
                    <img src="images/ico/pay.svg" loading="lazy" alt="termin" />
                    Platba:
                  </div>
                  <p>Celková cena je splatná na místě při příjezdu.</p>
                </li>
              </ul>
            </div>
            <div class="col-12 col-md-4 mb-4 text-center text-md-end">
              <a
                class="button-primary"
                data-toggle="collapse"
                href="#vstupenky"
                role="button"
                aria-expanded="false"
                aria-controls="vstupenky"
                >Objednat</a
              >
            </div>
          </div>
          <div class="o-content">
            <p>
              <strong
                ><span style="color: #ec1c24">SHS Hockey:&nbsp;</span></strong
              ><span style="color: #000000"
                >Projekt, který dává možnost hráčům pracovat nad rámec klubové
                aktivity. Zaměřujeme se na komplexní rozvoj hráčů ledního hokeje
                s důrazem na jednotlivé schopnosti, dovednosti a jejich správné
                provedení. Cílem je rozvoj hokejových dovedností a jejich
                transfer do samotné hry. Chceme hráče neustále posouvat na lepší
                úroveň a pomoct jim v jejich hokejovém růstu. Pro hráče pořádáme
                jednotlivé tréninky, campy, soustředění, utkání, turnaje, ale i
                další zajímavé akce.</span
              >
            </p>
            <p>
              <strong
                ><span style="color: #ec1c24"
                  >Základní informace:&nbsp;</span
                ></strong
              ><span style="color: #000000"
                >Jedná se o hokejový camp, který je zaměřený na nácvik a rozvoj
                komplexních hokejových dovedností. Tréninky na ledě probíhají v
                menších skupinách a jsou zaměřené především na techniku
                bruslení, vedení puku a střelbu. Hokejové bruslení vytváří
                základ pro všechny činnosti a jeho zvládnutí podmiňuje dosaženou
                úroveň technických a taktických dovedností. V moderním hokeji je
                správná technika bruslení, rychlost a obratnost jedním z
                rozhodujících faktorů výkonu. Hráč, který nemá dokonale
                zvládnutou techniku bruslení je limitován v další aspektech hry.
                Dále se zaměřujeme na dovednosti s pukem (vedení puku, střelba,
                přihrávky a jejich zpracování). Důležitou součástí je propojení
                bruslení a vedení kotouče. Chceme, aby se hráči jednotlivé
                dovednosti naučili a především, aby je dokázali uplatnit v
                rychlosti ve hře pod časoprostorovým tlakem. Tato forma tréninku
                je v dnešním hokeji nezbytná a dokáže každého hráče výrazně
                zlepšit. </span
              ><span style="color: #000000"
                >Na závěr programu probíhá trénink mimo led, ve kterém se
                zaměřujeme na rozvoj rychlostně &#8211; silových předpokladů, </span
              ><span style="color: #000000"
                ><span style="caret-color: #000000"
                  >koordinaci a flexibilitu. Součástí jsou také kompenzační
                  cvičení pro kompenzaci jednostranné zátěže a špatného držení
                  těla.</span
                ></span
              >
            </p>
            <p>
              <span style="color: #ec1c24"><strong>Rozsah akce:</strong></span>
            </p>
            <ul>
              <li>společné rozcvičení (2 x 20 minut)</li>
              <li>trénink na ledě (4 x 60 minut)</li>
              <li>trénink mimo led / kompenzační cvičení (2 x 45 minut)</li>
            </ul>
            <p>
              <span style="color: #ec1c24"
                ><strong>Časový program akce:</strong>
                <span style="color: #000000"
                  >Přesný časový program a rozdělení do skupin bude zasláno všem
                  přihlášeným hráčům na e-mailovou adresu ve středu (8.7.2026).
                  V případě, že máte zájem, můžete se zúčastnit pouze jeden den.
                  V poznámce však tuto informaci uveďte a napište den, který se
                  budete účastnit.</span
                ></span
              >
            </p>
            <p>
              <strong
                ><span style="color: #ec1c24">Poznámky:&nbsp;</span></strong
              ><span style="color: #000000"
                >Na tuto akci se můžou přihlásit hráči ročníku 2013 &#8211;
                2020. V případě zájmu je nutná objednávka prostřednictvím
                rezervačního systému. Počet míst je omezen. Každý hráč má
                zajištěné drobné občerstvení, které je v ceně této akce. Na
                zimním stadionu je restaurace, kterou můžete v průběhu campu
                využít.</span
              >
            </p>
            <p>
              <strong><span style="color: #ec1c24">Dotazy:&nbsp;</span></strong
              >Mgr. Luboš Voříšek / +420 606 332 012 / vorisek19@gmail.com.
            </p>
          </div>
          <div class="row g-lg-8 g-6 mt-10">
            <div class="col-lg-4 col-6">
              <a
                href="#"
                data-source="/shs_hockey/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  src="https://picsum.photos/384/264"
                  loading="lazy"
                  alt="gallery"
                />
              </a>
            </div>
            <div class="col-lg-4 col-6">
              <a
                href="#"
                data-source="/shs_hockey/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  src="https://picsum.photos/384/264"
                  loading="lazy"
                  alt="gallery"
                />
              </a>
            </div>
            <div class="col-lg-4 col-6">
              <a
                href="#"
                data-source="/shs_hockey/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  src="https://picsum.photos/384/264"
                  loading="lazy"
                  alt="gallery"
                />
              </a>
            </div>
            <div class="col-lg-4 col-6">
              <a
                href="#"
                data-source="/shs_hockey/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  src="https://picsum.photos/384/264"
                  loading="lazy"
                  alt="gallery"
                />
              </a>
            </div>
            <div class="col-lg-4 col-6">
              <a
                href="#"
                data-source="/shs_hockey/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  src="https://picsum.photos/384/264"
                  loading="lazy"
                  alt="gallery"
                />
              </a>
            </div>
            <div class="col-lg-4 col-6">
              <a
                href="#"
                data-source="/shs_hockey/build/ajax-gallery.json"
                data-gallery-id="1"
              >
                <img
                  src="https://picsum.photos/384/264"
                  loading="lazy"
                  alt="gallery"
                />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="modal-footer">
        <div class="d-flex gap-3 w-100 justify-content-center">
          <button class="button-secondary button-lg" data-bs-dismiss="modal">
            Zavřít
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
