<footer class="footer">
  <div class="container">
    <div
      class="d-flex gap-6 align-items-center justify-content-between flex-wrap py-6 border-top-1 flex-md-row flex-column"
    >
      <h6 class="h3">Kontakt</h6>
      <div
        class="d-flex gap-xxl-16 gap-xl-12 gap-md-8 gap-4 align-items-md-center flex-wrap flex-md-row flex-column"
      >
        <div class="d-flex gap-4 align-items-center">
          <img
            class="object-fit-cover"
            width="56"
            height="56"
            src="images/content/footer-contact.png"
            loading="lazy"
            alt="contact"
          />
          <div class="text-gray-800">
            <div class="h6">Mgr. Luboš Voříšek</div>
            <div class="text-sm">Manažer projektu</div>
          </div>
        </div>
        <a
          href="tel:+420606332012"
          class="d-flex hover-outline gap-4 align-items-center text-primary fw-bold"
        >
          <div class="bg-white p-4">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/tel.svg"
              loading="lazy"
              alt="tel"
            />
          </div>
          <div class="text-xl">+420 606 332 012</div>
        </a>
        <a
          href="mailto:vorisek19@gmail.com"
          class="d-flex hover-outline gap-4 align-items-center text-primary fw-bold"
        >
          <div class="bg-white p-4">
            <img
              class="object-fit-contain"
              width="24"
              height="24"
              src="images/ico/mail.svg"
              loading="lazy"
              alt="tel"
            />
          </div>
          <div class="text-xl">vorisek19@gmail.com</div>
        </a>
      </div>
    </div>
    <div class="footer__inner">
      <div
        class="d-flex gap-lg-12 gap-6 align-items-center flex-lg-row flex-column"
      >
        <a href="/" class="footer__logo">
          <img src="images/content/logo.png" loading="lazy" alt="logo" />
        </a>
        <p class="text-sm">
          © 2025 SHS Hockey &
          <a
            class="hover-outline"
            href="https://esportsmedia.cz/"
            target="_blank"
          >
            eSports.cz, s.r.o.
          </a>
        </p>
      </div>
      <div
        class="d-flex gap-lg-9 gap-4 align-items-center flex-lg-row flex-column mt-lg-0 mt-4"
      >
        <div class="d-flex gap-6 align-items-center flex-wrap">
          <a
            class="text-sm hover-outline"
            href="javascript:void(0);"
            data-cc="c-settings"
            aria-haspopup="dialog"
          >
            Cookies
          </a>
          <a href="#" class="text-sm hover-outline"> Ochrana osobních údajů </a>
        </div>
        <div class="d-flex align-items-center gap-4">
          <a class="footer-social" href="#">
            <img src="images/ico/fb.svg" loading="lazy" alt="social" />
          </a>
          <a class="footer-social" href="#">
            <img src="images/ico/insta.svg" loading="lazy" alt="social" />
          </a>
        </div>
      </div>
    </div>
  </div>
</footer>
