<section class="sentOrder pt-xl-16 pt-12 mb-lg-30 mb-20">
  <div class="container">
    <div class="d-flex flex-column align-items-center text-center">
      <div class="sentOrder-icon">
        <img src="images/ico/check.svg" alt="check" />
      </div>
      <h1 class="h3 text-gray-900 mb-2">Objednávka úspěšně odeslána</h1>
      <p class="text-gray-600 text-md">
        Text s vysvětlením, co se bude dít dál.
      </p>
      <a href="#" class="button-secondary button-lg mt-8"
        >Zpět na úvodní stránku</a
      >
    </div>
  </div>
</section>
