{% extends "@components/base/base.twig" %} {% set title = "10.0_eshop-products"
%} {% block main %}

<section class="eshop-section pt-xl-16 pt-12 mb-xxl-30 mb-lg-20 mb-15">
  <div class="container">
    <div class="d-flex justify-content-between gap-6 mb-8 flex-wrap">
      <h1 class="h2 text-center">E-shop</h1>
      <ul class="eshop-menu">
        <li>
          <a class="eshop-menu__link active" href="#">Zboží</a>
        </li>
        <li>
          <a class="eshop-menu__link" href="#">Tréninkové programy</a>
        </li>
        <li>
          <a class="eshop-menu__link" href="#">Utkání a turnaje</a>
        </li>
      </ul>
      <button class="button-primary">
        {% include "@images/cart.svg" %} 4 597 Kč
      </button>
    </div>
    <div class="row g-lg-8 g-6">
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="productCard">
          <div class="productCard-content">
            <div class="productCard-img">
              <img
                src="images/content/product-1.png"
                loading="lazy"
                alt="product"
              />
            </div>
            <div class="text-xl fw-bold mb-2">
              Bílý zápasový dres SHS selection
            </div>
            <p class="text-sm">
              Originální bílý zápasový dres SHS SELECT s vlastním jménem a
              číslem.
            </p>
            <ul class="productCard-list">
              <li>kvalitní, pevný dres pro tréninky i utkání</li>
              <li>základní střih s rovným sedlem</li>
              <li>límec ve tvaru „V“ s tkaničkou</li>
              <li>materiál Milano 210 g/m²</li>
              <li>velikosti: XS, S, M, L, XL, XXL</li>
              <li>možnost vyrobení dresu i pro brankáře</li>
            </ul>
          </div>
          <div class="productCard-footer">
            <div class="text-sm text-primary fw-bold mb-2">300 Kč</div>
            <div class="d-flex align-items-center gap-4">
              <select class="js-select flex-fill" name="size" required>
                <option value="">Velikost</option>
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XXl">XXl</option>
              </select>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modalOrder"
                class="button-primary button-sm flex-fill"
              >
                {% include "@images/cart.svg" %} Do košíku
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="productCard">
          <div class="productCard-content">
            <div class="productCard-img">
              <img
                src="images/content/product-2.png"
                loading="lazy"
                alt="product"
              />
            </div>
            <div class="text-xl fw-bold mb-2">Mikina s kapucí</div>
            <p class="text-sm">
              Originální bílý zápasový dres SHS SELECT s vlastním jménem a
              číslem.
            </p>
            <ul class="productCard-list">
              <li>mikina přes hlavu s kapucí</li>
              <li>100% bavlna</li>
              <li>černá barva</li>
              <li>logo na levé straně hrudníku</li>
              <li>vlastní číslo na pravé straně hrudníku</li>
              <li>velikosti dětské:</li>
              <li>dětské L (134 – 140 cm)</li>
              <li>dětské XL (146 – 152 cm)</li>
              <li>dětské XXL (158 – 164 cm)</li>
              <li>velikosti dospělé: S, M, L, XL, XXL</li>
            </ul>
          </div>
          <div class="productCard-footer">
            <div class="text-sm text-primary fw-bold mb-2">700 Kč</div>
            <div class="d-flex align-items-center gap-4">
              <select class="js-select flex-fill" name="size" required>
                <option value="">Velikost</option>
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XXl">XXl</option>
              </select>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modalOrder"
                class="button-primary button-sm flex-fill"
              >
                {% include "@images/cart.svg" %} Do košíku
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="productCard">
          <div class="productCard-content">
            <div class="productCard-img">
              <img
                src="images/content/product-4.png"
                loading="lazy"
                alt="product"
              />
            </div>
            <div class="text-xl fw-bold mb-2">
              Bílý zápasový dres SHS selection
            </div>
            <p class="text-sm">
              Originální bílý zápasový dres SHS SELECT s vlastním jménem a
              číslem.
            </p>
            <ul class="productCard-list">
              <li>kvalitní, pevný dres pro tréninky i utkání</li>
              <li>základní střih s rovným sedlem</li>
              <li>límec ve tvaru „V“ s tkaničkou</li>
              <li>materiál Milano 210 g/m²</li>
              <li>velikosti: XS, S, M, L, XL, XXL</li>
              <li>možnost vyrobení dresu i pro brankáře</li>
            </ul>
          </div>
          <div class="productCard-footer">
            <div class="text-sm text-primary fw-bold mb-2">700 Kč</div>
            <div class="d-flex align-items-center gap-4">
              <select class="js-select flex-fill" name="size" required>
                <option value="">Velikost</option>
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XXl">XXl</option>
              </select>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modalOrder"
                class="button-primary button-sm flex-fill"
              >
                {% include "@images/cart.svg" %} Do košíku
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="productCard">
          <div class="productCard-content">
            <div class="productCard-img">
              <img
                src="images/content/product-2.png"
                loading="lazy"
                alt="product"
              />
            </div>
            <div class="text-xl fw-bold mb-2">
              Bílý zápasový dres SHS selection
            </div>
            <p class="text-sm">
              Originální bílý zápasový dres SHS SELECT s vlastním jménem a
              číslem.
            </p>
            <ul class="productCard-list">
              <li>kvalitní, pevný dres pro tréninky i utkání</li>
              <li>základní střih s rovným sedlem</li>
              <li>límec ve tvaru „V“ s tkaničkou</li>
              <li>materiál Milano 210 g/m²</li>
              <li>velikosti: XS, S, M, L, XL, XXL</li>
              <li>možnost vyrobení dresu i pro brankáře</li>
            </ul>
          </div>
          <div class="productCard-footer">
            <div class="text-sm text-primary fw-bold mb-2">700 Kč</div>
            <div class="d-flex align-items-center gap-4">
              <select class="js-select flex-fill" name="size" required>
                <option value="">Velikost</option>
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XXl">XXl</option>
              </select>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modalOrder"
                class="button-primary button-sm flex-fill"
              >
                {% include "@images/cart.svg" %} Do košíku
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="productCard">
          <div class="productCard-content">
            <div class="productCard-img">
              <img
                src="images/content/product-1.png"
                loading="lazy"
                alt="product"
              />
            </div>
            <div class="text-xl fw-bold mb-2">
              Bílý zápasový dres SHS selection
            </div>
            <p class="text-sm">
              Originální bílý zápasový dres SHS SELECT s vlastním jménem a
              číslem.
            </p>
            <ul class="productCard-list">
              <li>kvalitní, pevný dres pro tréninky i utkání</li>
              <li>základní střih s rovným sedlem</li>
              <li>límec ve tvaru „V“ s tkaničkou</li>
              <li>materiál Milano 210 g/m²</li>
              <li>velikosti: XS, S, M, L, XL, XXL</li>
              <li>možnost vyrobení dresu i pro brankáře</li>
            </ul>
          </div>
          <div class="productCard-footer">
            <div class="text-sm text-primary fw-bold mb-2">700 Kč</div>
            <div class="d-flex align-items-center gap-4">
              <select class="js-select flex-fill" name="size" required>
                <option value="">Velikost</option>
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XXl">XXl</option>
              </select>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modalOrder"
                class="button-primary button-sm flex-fill"
              >
                {% include "@images/cart.svg" %} Do košíku
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="productCard">
          <div class="productCard-content">
            <div class="productCard-img">
              <img
                src="images/content/product-3.png"
                loading="lazy"
                alt="product"
              />
            </div>
            <div class="text-xl fw-bold mb-2">Bílý zápasový dres</div>
            <p class="text-sm">Originální bílý zápasový dres SHS SELECT</p>
            <ul class="productCard-list">
              <li>kvalitní, pevný dres pro tréninky i utkání</li>
              <li>základní střih s rovným sedlem</li>
              <li>límec ve tvaru „V“ s tkaničkou</li>
              <li>materiál Milano 210 g/m²</li>
              <li>velikosti: XS, S, M, L, XL, XXL</li>
              <li>možnost vyrobení dresu i pro brankáře</li>
            </ul>
          </div>
          <div class="productCard-footer">
            <div class="text-sm text-primary fw-bold mb-2">700 Kč</div>
            <div class="d-flex align-items-center gap-4">
              <select class="js-select flex-fill" name="size" required>
                <option value="">Velikost</option>
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XXl">XXl</option>
              </select>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modalOrder"
                class="button-primary button-sm flex-fill"
              >
                {% include "@images/cart.svg" %} Do košíku
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="productCard">
          <div class="productCard-content">
            <div class="productCard-img">
              <img
                src="images/content/product-5.png"
                loading="lazy"
                alt="product"
              />
            </div>
            <div class="text-xl fw-bold mb-2">
              Bílý zápasový dres SHS selection
            </div>
            <p class="text-sm">
              Originální bílý zápasový dres SHS SELECT s vlastním jménem a
              číslem.
            </p>
            <ul class="productCard-list">
              <li>kvalitní, pevný dres pro tréninky i utkání</li>
              <li>základní střih s rovným sedlem</li>
              <li>límec ve tvaru „V“ s tkaničkou</li>
              <li>materiál Milano 210 g/m²</li>
              <li>velikosti: XS, S, M, L, XL, XXL</li>
              <li>možnost vyrobení dresu i pro brankáře</li>
            </ul>
          </div>
          <div class="productCard-footer">
            <div class="text-sm text-primary fw-bold mb-2">700 Kč</div>
            <div class="d-flex align-items-center gap-4">
              <select class="js-select flex-fill" name="size" required>
                <option value="">Velikost</option>
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XXl">XXl</option>
              </select>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modalOrder"
                class="button-primary button-sm flex-fill"
              >
                {% include "@images/cart.svg" %} Do košíku
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-4 col-sm-6">
        <div class="productCard">
          <div class="productCard-content">
            <div class="productCard-img">
              <img
                src="images/content/product-6.png"
                loading="lazy"
                alt="product"
              />
            </div>
            <div class="text-xl fw-bold mb-2">
              Bílý zápasový dres SHS selection
            </div>
            <p class="text-sm">
              Originální bílý zápasový dres SHS SELECT s vlastním jménem a
              číslem.
            </p>
            <ul class="productCard-list">
              <li>kvalitní, pevný dres pro tréninky i utkání</li>
              <li>základní střih s rovným sedlem</li>
              <li>límec ve tvaru „V“ s tkaničkou</li>
              <li>materiál Milano 210 g/m²</li>
              <li>velikosti: XS, S, M, L, XL, XXL</li>
              <li>možnost vyrobení dresu i pro brankáře</li>
            </ul>
          </div>
          <div class="productCard-footer">
            <div class="text-sm text-primary fw-bold mb-2">700 Kč</div>
            <div class="d-flex align-items-center gap-4">
              <select class="js-select flex-fill" name="size" required>
                <option value="">Velikost</option>
                <option value="S" selected>S</option>
                <option value="M">M</option>
                <option value="L">L</option>
                <option value="XXl">XXl</option>
              </select>
              <button
                data-bs-toggle="modal"
                data-bs-target="#modalOrder"
                class="button-primary button-sm flex-fill"
              >
                {% include "@images/cart.svg" %} Do košíku
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <nav
      class="border-top-1 mt-8 pt-5 d-flex justify-content-sm-between justify-content-center align-items-center gap-4 flex-wrap"
      aria-label="Pagination"
    >
      <a class="pagination-prev" href="/page/2" rel="prev">
        <img
          src="images/ico/arrow-right.svg"
          width="20"
          height="20"
          alt=""
          aria-hidden="true"
        />
        Předchozí
      </a>

      <ul class="pagination mb-0">
        <li class="page-item">
          <a class="page-link" href="/page/1">1</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="/page/2">2</a>
        </li>

        <li class="page-item active">
          <span class="page-link" aria-current="page"> 3 </span>
        </li>

        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">…</span>
        </li>

        <li class="page-item">
          <a class="page-link" href="/page/8">8</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="/page/9">9</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="/page/10">10</a>
        </li>
      </ul>

      <a class="pagination-next" href="/page/4" rel="next">
        Další
        <img
          src="images/ico/arrow-right.svg"
          width="20"
          height="20"
          alt=""
          aria-hidden="true"
        />
      </a>
    </nav>
  </div>
</section>
{% include "@components/modal/modalOrder.twig" %} {% endblock %}
