<section class="archive-section pt-xl-16 pt-12 mb-xxl-30 mb-lg-20 mb-15">
  <div class="container">
    <h1 class="h1 text-center mb-lg-8 mb-6">Fotogalerie</h1>
    <div class="row row g-lg-8 g-6">
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">PSL League 2025 - 2026</h2>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">EST "2012"</h2>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">PSL League 2025 - 2026</h2>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">PSL League 2025 - 2026</h2>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">Turnaj ve Švédsku 2025</h2>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">PSL League 2025 - 2026</h2>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">PSL League 2025 - 2026</h2>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">Turnaj ve Švédsku 2025</h2>
        </a>
      </div>
      <div class="col-lg-4 col-sm-6">
        <a
          href="#"
          data-source="/shs_hockey/build/ajax-gallery.json"
          data-gallery-id="1"
          class="galleryCard"
        >
          <div class="galleryCard__img">
            <img
              src="https://picsum.photos/384/264"
              loading="lazy"
              alt="gallery"
            />
          </div>
          <h2 class="h6">Skills camp 1</h2>
        </a>
      </div>
    </div>

    <nav
      class="border-top-1 mt-8 pt-5 d-flex justify-content-sm-between justify-content-center align-items-center gap-4 flex-wrap"
      aria-label="Pagination"
    >
      <a class="pagination-prev" href="/page/2" rel="prev">
        <img
          src="images/ico/arrow-right.svg"
          width="20"
          height="20"
          alt=""
          aria-hidden="true"
        />
        Předchozí
      </a>

      <ul class="pagination mb-0">
        <li class="page-item">
          <a class="page-link" href="/page/1">1</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="/page/2">2</a>
        </li>

        <li class="page-item active">
          <span class="page-link" aria-current="page"> 3 </span>
        </li>

        <li class="page-item disabled">
          <span class="page-link" aria-hidden="true">…</span>
        </li>

        <li class="page-item">
          <a class="page-link" href="/page/8">8</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="/page/9">9</a>
        </li>

        <li class="page-item">
          <a class="page-link" href="/page/10">10</a>
        </li>
      </ul>

      <a class="pagination-next" href="/page/4" rel="next">
        Další
        <img
          src="images/ico/arrow-right.svg"
          width="20"
          height="20"
          alt=""
          aria-hidden="true"
        />
      </a>
    </nav>
  </div>
</section>
